@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, button {
    font-family: 'Lato', sans-serif;
}

div, span, p, a {
    font-family: 'Merriweather', serif;
}

body {
    overflow-x: hidden;
}